#res-container, .topic-discuss {
    margin: 5px 20px;
}
.res-wrapper {
    margin: 20px 0px;
}
.res {
    border: 1px solid black;
    word-break: break-word;
}
.res .r-head {
    background: #ccc;
    padding: 8px 15px 7px 15px;
}
.res .r-body {
    padding: 6px 15px 3px 15px;
    background: rgb(243, 243, 243);
}
.r-head.first-author {
    background: #7adc7a;   
}
.r-body.r-hidden-body {
    background: black;
    color: white;
}
.res.res-type-status .r-body {
    background: darkorange;
}