#res-container, .topic-discuss {
    margin: 5px 20px;
}
.res-wrapper {
    margin: 20px 0px;
}
.res {
    border: 1px solid black;
    border-radius: 3px;
    word-break: break-word;
}
.res .r-head {
    background: #ccc;
    padding: 10px 15px 5px 15px;
}
.res .r-body {
    padding: 5px 15px 8px 15px;
    background: #eceeef;
}
.r-head.first-author {
    background: #7adc7a;   
}
.r-body.r-hidden-body {
    background: black;
    color: white;
}
.res.res-type-status .r-body {
    background: darkorange;
}