/* top menu */
.topmenu {
    text-align: right;
    box-sizing: content-box;
    padding: 5px 10px;
    max-width: 100%;
    color: white;
}
.topmenu #searchInput {
    max-width: 100%;
}
.topmenu .user-link {
    color: goldenrod;
}
.topmenu .user-link.not-logged-in {
    color: gray;
}
.topmenu a:not(.user-link) {
    color: white;
}
/* mobile menu */
#mobile-detail-menu {
    color: white;
    text-align: initial;
}
#mobile-detail-menu ul {
    list-style: none;
    padding-left: 20px;
}
/* article */
.content-panel .nav .nav-link {
    background: white;
}
article {
    padding: 15px;
    background: white;
    color: initial;
}
.article-content {
    margin-top: 20px;
}
.mainrow {
    margin-top: 5px;
}
/* body */
body {
    background: #008275;
    font-family: "'Malgun Gothic', 'NanumGothic', 'NotoSans CJK', 'KoPub Dotum', sans-serif";
}
/* footer */
footer {
    color: black;
    background: white;
    padding: 15px;
    margin-top: 5px;
}
/* sidemneu */
.sidemenu {
    color: white;
}
.sidemenu .logo-img {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 10px;
}
.sidemenu .sidemenu-links .sidemenu-heading {
    font-size: 20px;
    font-weight: bold;
}
.sidemenu .sidemenu-links ul {
    list-style-type: none;
    padding-left: 12px;
}
.sidemenu .sidemenu-links li a, .sidemenu .sidemenu-links li {
    color: white;
}
/* navigation bar */
.navigation {
    position: fixed;
    display: table-row;
    z-index: 1065;
    bottom: 0;
    right: 30px;
    width: 100px;
    height: 50px;
    background: #008275;
    color: white;
}
.navigation .nav-button {
    display: table-cell;
    width: 50px;
    height: 50px;
    font-size: 30px;
    border: 0px;
    text-align: center;
    padding: 0px;
    line-height: 50px;
}
.navigation .nav-button a {
    color: white;
    text-decoration: none;
}
/* edit page */
#edit textarea {
    width: 100%;
    height: 600px;
}
#preview iframe {
    width: 100%;
    height: 600px;
}
/* minerva footnote display */
.minerva-fn-pop {
    position: fixed;
    bottom: 0;
    background: black;
    color: white;
    padding: 20px;
    width: 100%;
}
.minerva-fn-title {
    font-size: 20px 20px 40px 20px;
}
.minerva-close {
    float: right;
    cursor: pointer;
}