@charset "UTF-8";
/* from https://namu.wiki/css/wiki.css */
/* 문단 */

.wiki-article h1,
.wiki-article h2,
.wiki-article h3,
.wiki-article h4,
.wiki-article h5,
.wiki-article h6 {
  margin: 1.2em 0 0.8em 0;
}

.wiki-article h1 { font-size: 2.3em; }
.wiki-article h2 { font-size: 1.8em; }
.wiki-article h3 { font-size: 1.6em; }
.wiki-article h4 { font-size: 1.4em; }
.wiki-article h5 { font-size: 1.2em; }
.wiki-article h6 { font-size: 1.0em; }

.wiki-article .wiki-edit-section {
  float: right;
  font-size: 1rem;
}

/* 서식 */

.wiki-article del {
  color: gray;
}
.wiki-article del:hover {
  color: black;
  background: gray;
  text-decoration: none;
}

.wiki-article .wiki-size.size-1 { font-size: 14pt; }
.wiki-article .wiki-size.size-2 { font-size: 15pt; }
.wiki-article .wiki-size.size-3 { font-size: 16pt; }
.wiki-article .wiki-size.size-4 { font-size: 17pt; }
.wiki-article .wiki-size.size-5 { font-size: 18pt; }

.wiki-article code {
  padding: 2px;
  background-color: transparent;
  border: none;
  border-radius: 0;
}

.wiki-article pre {
  padding: 7px;

  background-color: #eeeeee;

  border: 1px solid #dddddd;
  border-radius: 3px;

  overflow-x: auto;
}

.wiki-article pre code {
  padding: 0;
  background: none;
  border: none;
}

/* 링크 */

.wiki-article .not-exist {
  color: red;
}

.wiki-article .wiki-self-link {
  font-weight: bold;
}

.wiki-article .wiki-link-external {
  color: #090;
}

.wiki-article .wiki-link-external:before {
  padding: 0px 0.15em;
  color: green;
  font-family: "FontAwesome";
  text-rendering: "auto";
  content: "\f08e";
}

/* 이미지 */

.wiki-article .wiki-content img {
  display: inline-block;
  max-width: 100%;
}

.wiki-article .wiki-content img[align="middle"], .wiki-article .wiki-content img[align="center"] {
	display: block;
	margin: 0 auto;
}

.wiki-article .wiki-table img {
  display: inline-block;
  max-width: initial;
}

/* 리스트 */

.wiki-article .wiki-list {
  margin: 0.4em 0 0.4em 1.5em;
}

.wiki-article .wiki-list-decimal {
   list-style: decimal;
}

.wiki-article .wiki-list li p {
  margin-bottom: 0;
}


.wiki-article .wiki-list-alpha {
   list-style: lower-alpha;
}

.wiki-article .wiki-list-upper-alpha {
   list-style: upper-alpha;
}

.wiki-article .wiki-list-roman {
   list-style: lower-roman;
}

.wiki-article .wiki-list-upper-roman {
   list-style: upper-roman;
}

.wiki-article .wiki-list li {
  margin: 0.4em 0;
  list-style: inherit !important;
  list-style-type: inherit !important;
}

/* 각주 */

.wiki-article .wiki-fn-content {
  font-size: 0.8em;
  vertical-align: super;
}

.wiki-article .wiki-macro-footnote {
  margin: 1.5em 0;
  padding: 0.5em 0;
  border-top: 1px solid #777777;
}

.wiki-article .footnote-list {
  line-height: 2em;
  display: block;
}

/* 들여쓰기 */

.wiki-article .wiki-indent {
  padding-left: 10px;
}

/* 인용문 */

.wiki-article .wiki-quote {
  padding: 1em calc(2em + 25px) 1em 1em;
  margin: 1em 0;
  background: #eeeeee;

  display: table;

  border: 2px dashed #ccc;
  border-left: 5px solid #71BC6D;

}

.wiki-article .wiki-quote p {
  margin-bottom: 0;
}

.wiki-article .wiki-quote .wiki-indent {
  padding-left: 0;
}

/* 수평줄 */

.wiki-article hr {
  margin: 0.5em 0;
  border-top: .0625rem solid #ccc;
}

/* 매크로 */

/*.wiki-article .wiki-macro-toc {
  margin: 1rem 0 2rem -20px;
  font-size: 0.9rem;
}*/
.wiki-article .wiki-macro-toc {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 12px 20px 18px 0px;
  margin-left: 5px;
  font-size: 0.9rem;
}

.wiki-article .wiki-macro-toc:before {
  content: "목차";
  font-size: 18px;
  margin-left: 14px;
}

.wiki-article .toc-indent {
  padding-left: 20px;
}

.wiki-article .wiki-macro-toc > .toc-indent:first-of-type {
  margin-top: 12px;
}

.wiki-article .toc-item {
  display: block;
}

.wiki-article iframe {
  display: block;
  max-width: 100%;
}

/* 테이블 */

.wiki-article .wiki-table-wrap {
  display: block;
  max-width: 100%;
  overflow-x: auto;
  margin: 10px 0;
}

.wiki-article .wiki-table-wrap.table-center {
  margin: 10px auto;
}

.wiki-article .wiki-table {
  background-color: #f5f5f5;
  border-collapse: collapse;
  /*margin: 10px 0;*/
}

.wiki-article .table-center .wiki-table {
  margin: auto;
}

.wiki-article .table-right {
  margin-left: 20px;
  margin-bottom: 20px;
  float: right;
}

@media screen and (max-width: 420px) {
  .wiki-article .table-right {
    float: none;
    /*width: 100% !important;*/
    margin: 10px 0;
  }

  /*.wiki-article .wiki-table {
    white-space: nowrap;
  }*/
}

.wiki-article .wiki-table td {
  padding: 5px 10px;
  border: 1px solid #dddddd;
}

.wiki-article .wiki-table td p {
  margin-bottom: 0;
}

/*.wiki-article table.table tbody tr {
  background-color: white;
}*/

.wiki-article .table td {
  word-wrap: break-word;
}

/* 글상자 */


.wiki-article .wiki-closure {
  padding: 5px;
  margin: 10px 0;
  border: 1px solid #727272;
}

.wiki-article div.wiki-category {
  border: 1px solid #777;
  padding: 5px;
  margin-top: 1em;
}

.wiki-article div.wiki-category h2 {
  display: inline-block;
  border: 0;
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-size: inherit;
}

.wiki-article div.wiki-category ul {
  display: inline-block;
  margin-bottom: 0;
  padding-left: 0 !important;
}

.wiki-article div.wiki-category h2:after {
  content: ':';
}

.wiki-article div.wiki-category ul li {
  display: inline-block;
}

.wiki-article div.wiki-category ul li:after {
  content: '|';
  padding-left: 5px;
}

.wiki-article div.wiki-category ul li:last-child:after {
  display: none;
}

.wiki-category-container {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}
.wiki-category-container div:first-child h3 {
  margin-top: 0;
}

.wiki-article em {
  font-style: italic;
}

.wiki-article .wiki-file-image {
  margin-bottom: 20px;
}

.wiki-article .wiki-lazy-image {
  display: none;
}

.wiki-article .wiki-lazy-loading {
  background-color:#888;
}

.wiki-article .syntax-wrapper {
  padding-right: calc(2em + 20px);
  margin: 1em 0;

  border: 2px dashed #ccc;
  border-left: 5px solid #609aff;

  background-color: #f5f5f5;

}

.wiki-article .syntax-wrapper > pre {
  padding: 0.7em 0.8em;
  margin: 0;

  background: none;
  border: none;

  font-size: 0.9rem;
}

.wiki-article .syntax-wrapper > .syntax-lines {
  float: left;
  background-color: #c4dcff;
  border-radius: 0;
  padding: 0.7em 0.5em 0.7em 1em;
  text-align: right;
}

.wiki-article .syntax-wrapper > .syntax-lines div {
  font-family: monospace !important;
  line-height: 1.3em;
}

.wiki-article .syntax {
  font-family: monospace !important;
  white-space: pre;
  line-height: 1.3em;
}

.wiki-article .syntax span {
  font-family: monospace !important;
}

.wiki-article .syntax .syntax-marker {
	border-top: 1px solid #f0f0d0;
	background-color: #ffffe0;
	border-bottom: 1px solid #f0f0d0;
}

.wiki-article .syntax .syntax-anchor {
	color: #cc3333;
}

.wiki-article .syntax .syntax-comment {
	font-style: italic;
	color: #999999;
}

.wiki-article .syntax .syntax-keyword {
	font-weight: bold;
	color: #6699cc;
}

.wiki-article .syntax .syntax-literal {
	color: #c08030;
}
